config SHIELD_CG40s_LEFT
    def_bool $(shields_list_contains,CG40s_left)

config SHIELD_CG40s_RIGHT
    def_bool $(shields_list_contains,CG40s_right)

config SHIELD_CG40s_DONGLE
    def_bool $(shields_list_contains,CG40s_dongle)
